* {
    box-sizing: border-box;
    border-collapse: collapse;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0.5em;
    padding: 0.5em;
    background-color: rgb(70, 23, 23);
    display: flex;
    flex-direction: row;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(210, 210, 224);
    padding: 1em;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(125, 125, 141);
}

li a::after {
    background-color: blueviolet;
}

header {
    background-color: rgb(150, 120, 120);
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
    display: table;
    width: 100%;
}

.box {
    float: left;
    width: 33%;
    padding: 3em;
    height: 25%;
    background-color: bisque;
    margin: 0.1em;
    display: table;
    border-collapse: collapse;
}

th {
    font-size: 5em;
}

th,
td {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    border-collapse: collapse;
    border: 0.01em solid #333;
    width: 50%;
}

footer {
    background-color: burlywood;
    padding: 0.5em;
    text-align: center;
    height: 5em;
    width: 100%;
    display: inline-block;
}